
h1{color:blue;
    text-align: center;

}

body{padding-left: 32px;
font-family: arial;
border-style: groove;
border-color:blueviolet;
border-width: 8px;}

h2{color:maroon}

.rautt{color:red}

.green{color:green}

.blárská{color:blue;
font-style: italic;}
