.grid-wrapper{
    display: grid;
    grid-template-areas: 
    "vm vm vm vm vm"
    "h h h h h"
    "mi mi mi mi mi"
    "f f f f f ";
    
}



.haus{ grid-area: h;
border: 1px solid;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
}

.fotur{grid-area: f;
    border: 1px solid;
text-align: center;
padding: 16px}

.valmynd{grid-area: vm;
    border: 1px solid;
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding:16px
}

.haegri{/*grid-area: ha;*/
    border: 1px solid;
text-align: center;
}

.vinstri{/*grid-area: v;*/
    border: 1px solid;
text-align: center;}

.adal{/*grid-area: a;*/
    border: 1px solid;
    text-align: center;}



.midja{
    display: grid;
    grid-area: mi;

    grid-template-columns: 3fr 1fr 1fr;

}

